

{% extends 'base.html.twig' %}


{% block body %}
    {% for cat in categories %}
        <a href="{{path('show_info_category', { 'id': cat.id })}}" ><h2>{{ cat.name}}</h2></a>
                
        <div class="content">
            {{ cat.description}}
        </div>
        <a href="{{path('deleteCategory', { 'id': cat.id })}}" ><h2>Delete</h2></a>
        <a href="{{path('categoryUpdate', { 'id': cat.id })}}" ><h2>Update</h2></a>
    {% endfor %}
    

  
{% endblock %}